@import '../config/variables.scss';

.title {
  margin-top: 41px;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  color: $dark-violet;
}

.choice-plan-type {
  margin-top: 25px;
  display: flex;
  gap: 122px;

  &__description {
    max-width: 584px;
    font-size: 18px;
  }
}

.toggler {
  display: flex;
  position: relative;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  height: 44px;

  &_active {
    .toggler__switch {
      left: 110px;
    }

    .toggler__value_monthly {
      color: $dark-violet !important;
    }

    .toggler__value_yearly {
      color: $white !important;
    }
  }

  &__switch {
    width: 110px;
    height: 44px;
    border-radius: 25px;
    background: $violet;
    top: 0;
    left: 0;
    position: absolute;
    transition: left 0.2s;
  }

  &__value {
    width: 110px;
    font-size: 12px;
    line-height: 18px;
    margin: auto;
    text-align: center;
    z-index: 1000;
    transition: color 0.2s;

    &_monthly {
      color: $white;
    }
    &_yearly {
      color: $dark-violet;
    }
    p {
      cursor: pointer;
      display: block;
      padding: 14px 0;
      border-radius: 25px;
    }
  }
}

.choice-plans {
  display: flex;
  position: relative;
  gap: 34px;
  background-color: $white;
  margin-top: 90px;
  background: rgba(255, 255, 255, 0.64);
  border-radius: 26px;
  padding: 40px 68px;
}

.plan {
  display: flex;
  flex-direction: column;

  &__price {
    font-size: 17px;
    line-height: 26px;

    span {
      font-weight: 700;
      font-size: 36px;
      line-height: 46px;
      color: $dark-violet;
    }
  }

  &__kind {
    margin-top: 20px;
    font-size: 28px;
    line-height: 42px;
    color: $dark-violet;
  }

  &__description {
    width: 232px;
    margin-top: 16px;
    line-height: 27px;
  }

  &__opportunities {
    margin-top: 10px;

    li {
      display: flex;
      align-items: center;
      margin-top: 10px;
      gap: 10px;
    }
  }

  &__button {
    padding: 11px 56px;
    background: $dark-violet;
    border-radius: 25px;
    font-size: 15px;
    line-height: 22px;
    max-width: 208px;
    cursor: pointer;

    &_starter {
      margin-top: 85px;
    }

    &_proffesional {
      margin-top: 52px;
    }
  }

  &_most-popular {
    position: absolute;
    bottom: 20px;
    right: 45px;
    background: $dark-violet;
    padding: 20px 30px;
    color: $white;
    border-radius: 26px;
    box-shadow: 0px 42px 34px rgba(82, 67, 194, 0.295755);

    span {
      color: $white;
    }

    .plan {
      &__popular-label {
        margin-left: auto;
        font-weight: 800;
        font-size: 10px;
        line-height: 15px;
        padding: 7px 17px 5px 16px;
        background: #403879;
        text-transform: uppercase;
        color: $violet;
        border-radius: 14px;
        margin-bottom: 20px;
      }

      &__button {
        margin-top: 23px;
        background: $violet;

        &:hover {
          background: $violet-hover;
        }
      }

      &__kind {
        color: $white;
      }
    }
  }
}

@media (max-width: 960px) {
  .choice-plans {
    flex-direction: column;
    .plan {
      margin: 0 auto;

      &_most-popular {
        position: static;
      }
      &__popular-label {
        margin: 0 auto 20px auto;
      }
    }
  }
}

@media (max-width: 620px) {
  .container {
    .title {
      white-space: nowrap;
    }
  }

  .choice-plan-type {
    .toggler {
      margin: 0 auto;
    }

    flex-direction: column;
    gap: 32px;
  }

  .choice-plans {
    margin-top: 32px;
    padding: 28px 32px 8px 28px;
    gap: 48px;

    .plan__button {
      max-width: none;
    }

    .plan__button_starter,
    .plan__button_proffesional {
      margin-top: 40px;
    }
    .plan_most-popular {
      padding: 20px;
      margin-left: -20px;
    }
  }
}
