$background-color: linear-gradient(180deg, #f5f5fa 0%, #f2dad5 44.15%, #a1abd6 100%);

$white: #fff;
$violet: #bb6bd9;
$dark-violet: #231d4f;
$violet-hover: #a847cc;

$font-family: 'Poppins', sans-serif;
$font-main-color: #848199;

$container-header: 1266px;
$container: 937px;
